Makefile
Makefile.in
.deps
configure
config.log
config.cache
config.guess
config.status
config.sub
pnet.spec
aclocal.m4
confdefs.h
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
madcow.log
madcow.bak
compile
autom4te.cache
ylwrap
