#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=4

DESTDIR = $(CURDIR)/debian/tmp

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure \
	  --prefix=/usr \
	  --mandir=\$${prefix}/share/man \
	  --infodir=\$${prefix}/share/info
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) -i distclean
	rm -f coremul/Makefile libffi/include/fficonfig.h libffi/t-*
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) install DESTDIR=$(DESTDIR)
	mv $(DESTDIR)/usr/bin/ilasm $(DESTDIR)/usr/bin/ilasm.pnet
	mv $(DESTDIR)/usr/share/man/man1/ilasm.1 $(DESTDIR)/usr/share/man/man1/ilasm.pnet.1 
	rm -r $(DESTDIR)/usr/share/gc
	dh_installdocs
	dh_installinfo
	dh_installchangelogs ChangeLog
	rm -f $$(cat debian/*.info)
	dh_install --sourcedir=$(DESTDIR) --list-missing
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -n
	dh_installdeb
	dh_shlibdeps -X libreadline4
	dh_gencontrol
	dh_md5sums


binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-arch binary-indep binary install configure
